body {
  color: #000;
  font-family: "Comfortaa", sans-serif;
}

h1 {
  line-height: 35px;
}

strong {
  font-size: 45px;
}

h3 {
  font-size: 20px;
}
.page-wrapper {
  max-width: 600px;
  display: block;
  margin: 50px auto;
}
.searchBar {
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.todayBox {
  border: #000 solid 1px;
  border-radius: 30px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.068);
  padding-bottom: 15px;
  text-align: center;
}

.topTemp {
  font-size: 45px;
  font-weight: 900;
}

.topIcon {
  color: rgb(224, 224, 224);
  font-size: 45px;
}

.link {
  margin-top: 20px;
  font-size: 12px;
}
