body {
  color: #000;
  font-family: "Comfortaa", sans-serif;
}

h1 {
  line-height: 50px;
  text-transform: capitalize;
}
strong {
  font-size: 24px;
}
hr {
  margin: 0 auto;
  display: block;
  max-width: 175px;
  border: 1px solid black;
}
.page-wrapper {
  max-width: 800px;
  display: block;
  margin: 50px auto;
}
.searchBar {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.todayBox {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border: #000 solid 1px;
  border-radius: 30px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.068);
  padding: 15px;
  text-align: center;
}

.topTemp {
  font-size: 45px;
  font-weight: 900;
}

.topIcon {
  color: #000;
  font-size: 45px;
}
.info-box {
  margin-top: 20px;
  padding-top: 18px;
  padding-left: 50px;
  border: #000 solid 1px;
  border-radius: 30px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.068);
}
.info {
  font-size: 18px;
  font-weight: 500;
}
.weather-description {
  padding-top: 30px;
  text-transform: capitalize;
}
.unitConversion {
  line-height: 50px;
  font-size: 20px;
}
.celsius {
  color: #000;
  text-decoration: none;
}
.celsius:hover {
  cursor: default;
}
.fahrenheit {
  color: #000;
  text-decoration: none;
}
.fahrenheit:hover {
  cursor: default;
}
.weekForcast {
  margin-top: 20px;
  background: linear-gradient(to top, white 0%, #dfe9f3 100%);
  border: #000 solid 1px;
  border-radius: 25px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.068);
  padding: 15px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}

.icon {
  font-size: 30px;
}
.temp {
  font-size: 20px;
}
.link {
  margin-top: 20px;
  font-size: 12px;
}
#firstDay {
  background-color: rgba(0, 0, 0, 0.041);
  border-radius: 25px;
}
