body {
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h1 {
  line-height: 35px;
}

strong {
  font-size: 45px;
}

h3 {
  font-size: 20px;
  font-weight: lighter;
}

.searchBar {
  margin: 20px;
  text-align: center;
}

.todayBox {
  margin-left: 100px;
  padding-top: 40px;
  text-align: center;
}

.topTemp {
  font-size: 45px;
  font-weight: 900;
}

.topIcon {
  color: #fff;
  font-size: 45px;
}

.link {
  margin: 20px;
  font-size: x-small;
}
